name: "auto-pr: dev to main"

on:
  push:
    branches:
      - dev

permissions:
  contents: write
  pull-requests: write    

jobs:
  auto-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: dev
          fetch-depth: 0 # Get all commits to compare branches
      
      - name: Calculate Deploy/Build Version
        id: deploy_build_versioning
        env:
          GITHUB_TOKEN: ${{ secrets.HARMONY_AUTO_PR_PAT }}
        run: |
          # Get the number of previous deploys
          DEPLOY_COUNT=$(gh run list --workflow "prod-deploy" --status success --json conclusion --limit 1000 | jq '. | length'  || echo 0)
          VERSION=$((DEPLOY_COUNT + 1))

          echo "Calculated version:"
          echo "$VERSION"
          
          # DEPLOY_COUNT+=1 for next deploy
          echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Generate Change Log
        id: commit_summary
        run: |
          # Get all commit messages between main and dev
          # * ShortHash - Author: Message (Relative commit date)
          COMMITS=$(git log origin/main..origin/dev --oneline --no-merges --pretty=format:"* %h - %an: %s (%ar)")

          echo "Found commits:"
          echo "$COMMITS"

          if [ -z "$COMMITS" ]; then
            COMMITS="** No new commits found. **"
          fi
          
          {
            echo "COMMIT_SUMMARY<<EOF"
            echo "$COMMITS"
            echo "EOF"
          } >> "$GITHUB_OUTPUT"

      - name: "Auto-PR: dev ➔ main"
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.HARMONY_AUTO_PR_PAT }}
          branch: auto-pr/dev-to-main
          base: main
          title: "build/deploy: Harmony v${{ steps.deploy_build_versioning.outputs.VERSION }}"
          body: |
            ## Auto-PR: `dev` ➔ `main`
            This PR was automatically generated because new code was pushed to the `dev` branch.

            ### Change log (commits)
            ${{ steps.commit_summary.outputs.COMMIT_SUMMARY }}
            
          labels: |
            automated-pr
            release